.qa {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative; 
}
  
.qa_line {
    width: 60px;
    height: 1px;
    background-color: black;
    margin-bottom: 32px; 
}

.qa_heading {
    font-size: 28px;
    line-height: 40px;
    margin: 0;
    margin-bottom: 32px; 
}

.qa_text {
    font-size: 18px;
    line-height: 24px;
    max-width: 676px; 
}

@media screen and (max-width: 576px) {
    .qa {
        padding: 20px; 
    }
    #qa_line, #qa_heading {
        margin-bottom: 25px; 
    }
}