.signin_input {
    display: block;
    margin-bottom: 0.5em;
    font-size: inherit;
}

.signin_container {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.signin_heading {
    margin-bottom: 0.5em;
}

.signin_button {
    font-size: inherit;
}